* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.square {
    width: 6.25%;
    padding-bottom: 6.25%;
    border: solid 1px black;
}

#container {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}